*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 500px;
    background-color: #00B8F7;
}
.body1{
    width: 22%;
    max-height: 400px;
    background-color: white;
    padding: 2rem 1.5rem;
    margin: 6rem auto;
    border-radius: 4px;
}
.body1 .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
}
.header h1{
    font-size: 24px;
}
.header .logo{
    width: 25px;
    height: 25px;
}
.logo i{
    font-size: 24px;
}
.body1 .container{
    width: 100%;
    height: auto;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.container p{
    font-size: 15px;
    padding-bottom: .5rem;
}
.container input{
    width: 89%;
    height: 2.3rem;
    padding: 0 1rem;
    outline: none;
    border: none;
    border: 1px solid #00B8F7;
    border-radius: 4px;
}
.container input:focus{
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px #00B8F7;
}
.container button{
    margin-top: 1rem;
    width: 100%;
    background-image: linear-gradient(to right, #209bcf , #00B8F7);
    height: 2.5rem;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    transition: ease-in .2s;
}
.container button:hover{
    background-image: linear-gradient(to right, #00B8F7 , #209bcf);
    box-shadow: 0px 0px 10px #039acd;
    /* background-color: #32A7D9; */
}
.showQR{
    width: 100%;
    padding: 1rem auto;
    height: 180px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    object-fit: contain;
    border: 1px solid #00B8F7;
    border-radius: 4px;
}










